.register{
    width: 100%;
    height: 100%;
    background-color: grey;
}


.form{
    background-color: grey;
    margin: auto;
    font-size: 18px;
    color:blue;
    /* padding-left: 40%; */
        /* width: 300px; */
    width: fit-content;
    padding-left: 0px;
    border: 2px;
    border-style:groove;

}

.register-form{
    text-align: center;
}

.abc{
    text-align: right;
    display: inline-block; 
    width: 100px;
    margin-bottom: 10px;
}

.cde{
    display: inline-block;
    width: 200px;
    height: 25px
}

.gender{
    display: inline-block;
}

.efg{
    display: inline-block;
    width: 205px;
    height: 25px;
}

.info{
    display: inline-block;
    width: 50px
}


 .a{
    text-align: center;
 }

 .information{
     line-height: 20px;
 }
